<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Nova Doação</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_doar.css') }}">
</head>
<body>
    <div class="container">
        <h1>Cadastrar Nova Doação:</h1>
        <form method="POST">
        
            <label>O que deseja doar?</label>
            <select name="categoria_opcao">
                <option value="1">Roupa</option>
                <option value="2">Alimento</option>
                <option value="3">Brinquedo</option>
            </select>

            <label>Especifique:</label>
            <input type="text" name="item_nome" required placeholder="Ex: Arroz, Feijão, Camiseta, Calça, Boneca...">

            <label>Detalhe Extra: (Roupa em bom estado? Comida perto do vencimento?)</label>
            <input type="text" name="detalhe" placeholder="Ex: Bom estado...">

            <button type="submit" class="botao">Confirmar Doação!</button>
        </form>
        <a href="{{ url_for('index') }}">Voltar ao Relatório.</a>
    </div>
</body>
</html>